<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
    <table border="1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Ballance</th>
            <th>Animaltype</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="bankAccount : ${bankAccounts}" th:object="${bankAccount}">
        <tr >
            <td th:text=" *{name}"></td>
            <td th:text=" *{balance} + '0 Zebra ' "></td>
            <td th:text=" *{animalType}"></td>
        </tr>
        </div>
        </tbody>
    </table>
</body>
</html>